.welcome_pages{
    background-image: url('../images/bg_home-01.png');
    width: 100vw;
    min-height: 30vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title_page{
    position: absolute;
 top: 15%; 
 font-size: 6rem;
 text-align: center;
 color: #FFF;
 width: 100%;
 font-family: 'Acme', sans-serif;
}
.about_services{
    margin: 20px;
    font-size: 1.3rem;
}
.img_services{
    width: 100%;
}
.title_history{
    font-size: 1.5rem;
    font-weight: bold;
}
.CTA{
    background-color: #221E57;
    text-align: center;
    height: 120px;
    padding: 40px;
}
.history_img{
        background-image: url('../images/historique_img-01.png');
        width: 100vw;
        min-height: 40vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
}